// @import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

ul {
    li {
        list-style: none;
    }
}

a, [ng-click], [ui-sref] {
	cursor: pointer;

	&:hover {
		color: #666;
	}
}

.round {
	border-radius: 50%;
}

.searchBar {
    background-color: rgba(255, 255, 255, 0.2);
    padding-bottom: 23px;
    padding-left:   30px;
    padding-right:  30px;
    margin: 0 45px;
    max-width: 500px;
    * {color: white !important;}
}

md-list {
	padding: 0;

	md-item-content {
        padding: 0;

        .md-tile-left {
            min-width: 23px;
            margin: 5px 0 0 15px;
        }
	}
	// md-item:nth-child(2n) md-item-content {
	// 	background-color: rgba(0, 0, 0, 0.05);
	// }
}
