<div layout="row">
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'hp' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.hp || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.hp || 0 | percentage }}</div>
    </div>
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'str' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.str || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.str || 0 | percentage }}</div>
    </div>
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'mag' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.mag || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.mag || 0 | percentage }}</div>
    </div>
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'skl' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.skl || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.skl || 0 | percentage }}</div>
    </div>
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'spd' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.spd || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.spd || 0 | percentage }}</div>
    </div>
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'def' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.def || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.def || 0 | percentage }}</div>
    </div>
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'res' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.res || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.res || 0 | percentage }}</div>
    </div>
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'lck' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.lck || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.lck || 0 | percentage }}</div>
    </div>
    <div layout="column" layout-align="center center" flex>
        <label>{{ 'mov' | humanizeShortAttr }}</label>
        <div ng-if="!attributesRates">{{ attributes.mov || 0 }}</div>
        <div ng-if="attributesRates">{{ attributes.mov || 0 | percentage }}</div>
    </div>
</div>
