<md-content class="md-padding">
    <h2>{{character.name}}</h1>
        <div class="dialog-content">
            <p ng-if="character.baseStats">Base Stats
                <div attributes={{character.baseStats}}></div>
            </p>

            <p ng-if="character.growthRates">Growth Rates
                <div attributes={{character.growthRates}} attributes-rates="true"></div>
            </p>

            <p ng-if="character.modifiers">Modifiers
                <div attributes={{character.modifiers}}></div>
            </p>

            <p ng-if="character.classSet">
                Class Set
                <ul>
                    <li ng-repeat="klass in character.classSet" ui-sref="home.klasses.details({name: klass})">
                        {{klass}}
                    </li>
                </ul>
            </p>

            <p ng-if="character.supports">
                Supports
                <ul>
                    <li ng-repeat="char in character.supports" ui-sref="home.characters.details({name: char})">
                        <div character={{getCharacter(char)}}></div>
                    </li>
                </ul>
            </p>

            <p ng-if="character.marriable">
                Can marry
                <ul>
                    <li ng-repeat="char in character.marriable" ui-sref="home.characters.details({name: char})">
                        <div character={{getCharacter(char)}}></div>
                    </li>
                </ul>
            </p>

            <p ng-if="character.children">
                Children
                <ul>
                    <li ng-repeat="char in character.children" ui-sref="home.characters.details({name: char})">
                        <div character={{getCharacter(char)}}></div>
                    </li>
                </ul>
            </p>

            <p ng-if="character.skills.length">
              All Skills
              <ul>
                <li ng-repeat="skill in character.skills">
                  <div skill={{skill}}></div>
                </li>
              </ul>
            </p>
        </div>
    </md-content>
