<md-dialog class="md-padding" aria-label="{{character.name}}">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">{{character.name}}</md-subheader>
        <div class="dialog-content">
            <p ng-if="character.baseStats">
                Base Stats: {{character.baseStats}}
            </p>

            <p ng-if="character.growthRates">
                Growth Rates: {{character.growthRates}}
            </p>

            <p ng-if="character.modifiers">
                Modifiers: {{character.modifiers}}
            </p>

            <p ng-if="character.classSet">
                Class Set: {{character.classSet}}
            </p>

            <p ng-if="character.supports">
                Supports: {{character.supports}}
            </p>

            <p ng-if="character.marriable">
                Can marry: {{character.marriable}}
            </p>

            <p ng-if="character.children">
                Children: {{character.children}}
            </p>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="close()">
            Close
        </md-button>
    </div>
</md-dialog>
