<md-list>
    <md-item class="md-3-line" ng-repeat="char in characters | filter: search">
        <div character={{char}}></div>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>
