<md-item-content ng-class="{ male: character.sex == 'Male', female: character.sex == 'Female' }"
    ui-sref="home.characters.details({name: character.name})">
    <div class="md-tile-left">
        <img ng-src="img/avatar/{{character.name}}Icon.png" height="40" class="round" />
    </div>
    <div class="md-item-text md-tile-content md-padding">
        <h3>{{ character.name }}</h3>
    </div>
</md-item-content>
