<md-item-content ui-sref="home.klasses.details({name: klass.name})">
    <div class="md-item-text md-tile-content md-padding">
        <h3>{{ klass.name }}</h3>
        <p>Promotes to: {{ klass.promote }}</p>
    </div>
</md-item-content>
