<md-content class="md-padding">
  <h2>{{klass.name}}</h2>
  <div class="dialog-content">
      <p ng-if="klass.promote">
        Promotes to:
        <ul>
          <li ng-repeat="kl in klass.promote" ui-sref="home.klasses.details({name: kl})">
            {{kl}}
          </li>
        </ul>
      </p>

      <p ng-if="klass.promoteFrom">
        Promotes from:
        <ul>
          <li ng-repeat="kl in klass.promoteFrom" ui-sref="home.klasses.details({name: kl.name})">
            {{kl.name}}
          </li>
        </ul>
      </p>

      <p ng-if="klass.baseStats">
        Base Stats:
        <div attributes={{klass.baseStats}}></div>
      </p>

      <p ng-if="klass.maxStats">
        Max Stats:
        <div attributes={{klass.maxStats}}></div>
      </p>

      <p ng-if="klass.growthRates">
        Growth Rates:
        <div attributes={{klass.growthRates}}></div>
      </p>

      <p ng-if="klass.weapons">
        Weapons: {{klass.weapons}}
      </p>

      <p ng-if="klass.skills">
        Skills:
        <md-list>
            <div class="md-3-line" ng-repeat="skill in klass.skills">
                <div skill={{skill}}></div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-list>
      </p>

  </div>
</md-content>
