<md-dialog aria-label="{{klass.name}}">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">{{klass.name}}</md-subheader>
        <div class="dialog-content">
            <p>Promotes to: {{klass.promote}}</p>
            <p>Base Stats: {{klass.baseStats}}</p>
            <p>Max Stats: {{klass.maxStats}}</p>
            <p>Growth Rates: {{klass.growthRates}}</p>
            <p>Weapons: {{klass.weapons}}</p>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="close()">
            Close
        </md-button>
    </div>
</md-dialog>
