<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="menu" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar layout="row" layout-align="start center">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-md ng-click="toggleMenu()" aria-label="Menu">
                <md-icon md-svg-icon="img/icons/arrow_back.svg"></md-icon>
            </md-button>
            <h1 class="md-toolbar-tools">Menu</h1>
        </div>
    </md-toolbar>
    <md-content class="md-padding" flex>
        <p ng-click="toggleMenu()" ui-sref="home.characters.list">Characters</p>
        <p ng-click="toggleMenu()" ui-sref="home.skills.list">Skills</p>
        <p ng-click="toggleMenu()" ui-sref="home.klasses.list">Classes</p>
    </md-content>
</md-sidenav>
