<md-content class="md-padding">
    <h2>{{skill.name}}</h1>
    <div class="dialog-content">
      <p ng-if="skill.effect">
        Effect: {{skill.effect}}
      </p>

      <p ng-if="skill.klass" ui-sref="home.klasses.details({ name: skill.klass })">
        Class: {{skill.klass}}
      </p>
      <p ng-if="skill.level">
        Level: {{skill.level}}
      </p>

      <p ng-if="skill.activation">
        Activation: {{skill.activation}}
      </p>
    </div>
</md-content>
