<md-item-content ui-sref="home.skills.details({ name: skill.name })">
    <div class="md-tile-left">
        <img ng-src="img/skills/{{ skill.name | lowercase }}.png" height="23" width="23" class="round" />
    </div>
    <div class="md-item-text md-tile-content md-padding">
        <h3>{{ skill.name }}</h3>
        <p>{{ skill.effect }}</p>
    </div>
</md-item-content>
