<md-dialog aria-label="{{skill.name}}">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">{{skill.name}}</md-subheader>
        <div class="dialog-content">
            <p>Effect: {{skill.effect}}</p>
            <p>Class: {{skill.klass}}</p>
            <p>Level: {{skill.level}}</p>
            <p>Activation: {{skill.activation}}</p>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="close()">
            Close
        </md-button>
    </div>
</md-dialog>
