<md-tabs selected="currentTab">
    <md-tab label="Characters" ui-sref="home.characters.list">
        <div ui-view="characters.list"></div>
    </md-tab>
    <md-tab label="Skills" ui-sref="home.skills.list">
        <div ui-view="skills.list"></div>
    </md-tab>
    <md-tab label="Classes" ui-sref="home.klasses.list">
        <div ui-view="klasses.list"></div>
    </md-tab>
</md-tabs>
