<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" hide-gt-sm  ng-click="toggleMenu()" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h1 class="md-toolbar-tools" layout="row" layout-align="space-around" flex>
            <a ui-sref="home">Fire Emblem: Awakening</a>
            <search-bar hide-sm ng-model="search.name" flex></search-bar>
        </h1>
        <img rotate class="round" src="img/fea_decal1.png" id="vitor" width="50">
        <span></span>
    </div>
</md-toolbar>
